@using CarRepairReport.Extensions
@model CarRepairReport.Models.ViewModels.ManufacturerVms.ManufacturerVm

@{
    ViewBag.Title = "Manufacturer";
}

<h2>@Model.Name.ToCapital()</h2>

<div class="manufacturer-info">
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>Part Name</th>
            <th>Parts Count</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var part in Model.Parts)
        {
            <tr>
                <td>@part.Key.ToCapital()</td>
                <td>@part.Value</td>
            </tr>
        }
        </tbody>
    </table>
</div>
<p>
    @Html.ActionLink("Back", "Index","Home", null, new {@class = "btn btn-default"})
</p>
