@using CarRepairReport.Extensions
@model IEnumerable<CarRepairReport.Models.ViewModels.ManufacturerVms.ShortManufacturerInfoVm>

@{
    ViewBag.Title = "";
}

<table class="tab-content table table-hover table-striped">
    <tbody>
    @foreach (var m in Model)
    {
        <tr>
            <td class="col-sm-3">
                @Html.ActionLink(m.Name.ToCapital(), "Manufacturer", new { name = m.Name })
            </td>
            <td class="col-sm-3">@m.NumberOfParts</td>
        </tr>
    }
    </tbody>
</table>


