@model CarRepairReport.Models.ViewModels.ForumVm.CategoryTagVm

@{
   
}

<div class="row crr-box">
    <div class="col col-sm-12">
        list of categories
    </div>
</div>

<div class="row crr-box">
    <div class="col col-sm-12">
        list of tags
    </div>
</div>

