@using CarRepairReport.Extensions
@model IEnumerable<CarRepairReport.Models.ViewModels.Commons.MembershipInvitationVm>

@{
    ViewBag.Title = "Invitations";
    //Layout = "../VehicleService/Manage.cshtml";
}

<span id="membership-invites" class="navbar-brand pull-right cursor-pointer">@Model.Count()</span><span class="navbar-brand pull-right glyphicon-envelope invitation-icon"></span>


<!-- The Modal -->
<div id="membership-invites-content" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>

        @if (Model.Any())
        {
            <table>
                @foreach (var item in Model)
                {
                    <tr id="membership-invitation-@(item.Id)">
                        <td>
                            <span>@item.Name.ToCapital()</span>
                        </td>
                        <td>
                            @Ajax.ActionLink("Accept", "MembershipInvitation", "User", new { Id = item.Id, IsAccepted = true }, new AjaxOptions() { HttpMethod = "POST", Confirm = "Are you sure?", OnComplete = "processAnswer" }, new { @class = "btn btn-success" }) |
                            @Ajax.ActionLink("Cancel", "MembershipInvitation", "User", new { Id = item.Id, IsAccepted = false }, new AjaxOptions() {HttpMethod = "POST", Confirm = "Are you sure?", OnComplete = "processAnswer" }, new { @class = "btn btn-danger" }) |
                          
                        </td>
                    </tr>
                }
            </table>
        }
        else
        {
            <div>No membership invites!</div>
        }
    </div>

</div>

<script type="text/javascript">

    function processAnswer(result) {

        //console.log(result);

        if (result.responseJSON.IsSucceed) {

            $(result.responseJSON.Message)[0].style.display = "none";


            var currentInvitations = $('#membership-invites')[0].innerText;

            $('#membership-invites')[0].innerText = currentInvitations - 1;

            if (currentInvitations === 1 || currentInvitations === "1") {
                closeModal();
            }

        } else {
            alert(result.responseJSON.Message);
        }
    }

    // Get the modal
    var modal = document.getElementById('membership-invites-content');

    // Get the button that opens the modal
    var btn = document.getElementById("membership-invites");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks on the button, open the modal 
    btn.onclick = function () {
        modal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
        modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }

    function closeModal() {
        modal.style.display = "none";
    }
</script>


