body {
    padding-top: 50px;
    padding-bottom: 20px;
    overflow: hidden;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/* drop down language
.lang-drop-down-menu {
    margin: 15px;
    color: lightgrey;
    background-color: black;
}

.lang-drop-down-menu:hover {
    color: white;
}*/

#nav-lang-menu > ul > li > a {
    padding: 15px 0;
}

.profile-data {
    margin-top: 25px;
    border-bottom: 1px solid rgb(245, 245, 245);
}

.wrapper {
    padding: 20px 0;
    padding-left: 10px;
}

.flex {
    
    display: flex;
}

.font-lg {
    font-size: 3rem;
}

.table-header {
    background-color: rgb(200, 200, 200);
}

.site-color {
    background-color: hsl(240, 25%, 95%);
}

.aside-home-left, .aside-home-right, .service-wrapper {
    min-height: 780px;
    max-height: 780px;
    /*overflow: auto;*/
}

.aside-home-left .form-group {
    margin: 0;
    padding: 0;
}

.margin-me .btn-sm {
    margin: 15px 0;
}

.hr {
    border-bottom: 2px solid rgb(180, 180, 180);
}

.margin-top {
    margin-top: 10px;
}

.limit-dropdown-width {
    max-width: 92%;
    overflow: hidden;
}

.logo-img > img {
    width: 100%;
}

.service-wrapper {
    padding: 15px;
}

/*.service-description {
    border: 1px solid rgb(230, 230, 230);
    border-radius: 5px;
}*/

.service-promotions, .service-comments {
    border: 1px solid rgb(230, 230, 230);
    border-radius: 5px;
    margin: 5px;
}

.service-promotions {
    min-height: 200px;
    max-height: 200px;
}

.service-comments {
    overflow-y: scroll;
    max-height: 380px;
}


.button-control {
    width: 100%;
}

.button-control:hover {
    padding-left: 10px;
    color: hsl(240, 25%, 95%);
    background-color: black;
    font-size: 20px;
    cursor: pointer;
}

.button-control:active {
    color: black;
    background-color: white;
    font-size: 20px;
}

