body {
    padding-top: 50px;
    padding-bottom: 20px;
    /*overflow: hidden;*/
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/* drop down language
.lang-drop-down-menu {
    margin: 15px;
    color: lightgrey;
    background-color: black;
}

.lang-drop-down-menu:hover {
    color: white;
}*/

#nav-lang-menu > ul > li > a {
    padding: 15px 0;
}

.profile-data {
    margin-top: 25px;
    border-bottom: 1px solid rgb(245, 245, 245);
}

.wrapper {
    padding: 20px 0;
    padding-left: 10px;
}

.flex {
    
    display: flex;
}

.font-lg {
    font-size: 3rem;
}

.table-header {
    background-color: rgb(200, 200, 200);
}

.site-color {
    background-color: hsl(240, 25%, 95%);
}

.bg-white {
    background-color: white;
}

.small-width {
    word-wrap: break-word;
}

.aside-home-left, .aside-home-right, .service-wrapper {
    min-height: 780px;
    max-height: 780px;
    /*overflow: auto;*/
}

.aside-home-left .form-group {
    margin: 0;
    padding: 0;
}

.margin-me .btn-sm {
    margin: 15px 0;
}

.hr {
    border-bottom: 2px solid rgb(180, 180, 180);
}

.margin-top {
    margin-top: 10px;
}

.limit-dropdown-width {
    max-width: 92%;
    overflow: hidden;
}

.logo-img > img {
    width: 100%;
}

.service-wrapper {
    padding: 15px;
}

/*.service-description {
    border: 1px solid rgb(230, 230, 230);
    border-radius: 5px;
}*/

.service-promotions, .service-comments {
    border: 1px solid rgb(230, 230, 230);
    border-radius: 5px;
    margin: 5px;
}

.vs-short-info {
    border-radius: 5px;
}

.service-promotions {
    min-height: 200px;
    max-height: 200px;
}

.service-comments {
    overflow-y: scroll;
    max-height: 380px;
}


.button-control {
    width: 100%;
}

.button-control:hover {
    padding-left: 10px;
    color: hsl(240, 25%, 95%);
    background-color: black;
    font-size: 20px;
    cursor: pointer;
}

.button-control:active {
    color: black;
    background-color: white;
    font-size: 20px;
}

/* icons in main navigation panel */
.invitation-icon {
    padding-right: 5px!important;
}

.invitation-icon:hover {
    color: #9d9d9d!important;;
    
}

.cursor-pointer {
    cursor: pointer;
}

.cursor-pointer:active {
    color: yellow;
}

/* membership container */
.membership-invitations-container {
    position: relative;
    display: inline-block;
    top: 33px;
    left: 115px;
    
}

.membership-invitations-container > div {
    color: white;
    width: 200px;
    background-color: #222;
}


/* The Modal (background) */
.modal-content span {
    display: inline-block;
    margin: 20px;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/********      vehicle service vote       ******/

.vote-container .up {
    transform: scale(1);
    transition: all 200ms;
    cursor: pointer;
}

.vote-container .up:hover {
    transition: all 200ms;
    transform: scale(1.5);
    color: green;
}

.vote-container .down {
    transform: scale(1);
    transition: all 200ms;
    cursor: pointer;
}

.vote-container .down:hover {
    transition: all 200ms;
    transform: scale(1.5);
    color: red;
}

.vote-container textarea {
    max-width: 100%;
}

.text-area-fixed {

    min-height: 10rem;
    min-width: 100%;
    max-width: 100%;
}

/*********** vehicle service comments  *********/

.vehicle-service-comment {
    padding: 5px;
    border: 1px solid rgb(200,200,200);
    border-radius: 5px;
    margin: 5px;
    overflow: hidden;
}

.vehicle-service-comment h4 {
    display: inline-block;
}

.vs-comment-info {
    line-height: 3rem;
}

.vs-comment-comment {
    background-color: white;
    border-radius: 5px;
}

/*********** garage car info ************/

.garage-wrapper {
    margin: 10px 0;
    
}

.garage-select-car-menu {
    font-size: 2rem;
    padding: 10px;
    border-radius: 5px;
}

.garage-select-car-menu .form-control {
    display: inline-block;
}

.car-full-info {
    overflow: paged-y;
}

.car-part-info, .car-cost-info, .garage-car-main-info, .serviced-part-info, .crr-box {
    margin: 5px 0;
    padding: 5px;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 5px;
}

.custom-text-area textarea, .custom-text-area input, .custom-text-area select {
    min-width: 85%;
    max-width: 85%;
}

.custom-text-area textarea {
    
    min-height: 25rem;

    border: 2px solid rgb(230, 230, 230);
    border-radius: 5px;
}

.border-radius {
    border-radius: 5px;
}


/******** forum ********/

.bg-custom-forum {
    background-color: hsl(242, 62%, 84%)
}

.bg-info-c {
    background-color: hsl(0, 28%, 90%)
}

.bg-warning-c {
    background-color: rgb(200,200, 200);
}

.content-min-height {
    min-height: 10rem;
}



