@model CarRepairReport.Models.ViewModels.ServiceVms.ManagementVehicleServiceVm

@{
    ViewBag.Title = "Manage";
}

<div class="row service-management-wrapper">
    <div class="col-sm-3 site-color wrapper">
        <div class="row button-control">
            <div id="invite-member" class="col-sm-12">
                Members
            </div>
        </div>
        
        <div class="row button-control">
            <div id="confirm-serviced-parts" class="col-sm-12">
                Confirm serviced parts
            </div>
        </div>

    </div>
    <div id="control-result" class="col-sm-8 service-management-content">
        
    </div>
</div>

<script type="text/javascript">

    var resultContainerId = '#control-result';

    var inviteUrl = '@Url.Action("Members", new { serviceId = Model.Id})';
    var confirmServicedPartsUrl = '@Url.Action("ConfirmServicedParts", "VehicleService", new { serviceId = Model.Id})';
    
    $('#invite-member') .click(function() {
        $(resultContainerId).load(inviteUrl);
    });

    $('#confirm-serviced-parts').click(function() {
        $(resultContainerId).load(confirmServicedPartsUrl);
    });

</script>

